{% load staticfiles %}
{% load register_extras %}
<head>
<link rel="stylesheet" href="{%  static 'css/bootstrap.min.css' %}" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"><!-- Optional theme -->
<link rel="stylesheet" href="{%  static 'css/bootstrap-theme.min.css' %}" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous"><!-- Latest compiled and minified JavaScript -->
 <script type="text/javascript" src="{%  static 'js/jquery-1.11.1.min.js' %}"></script>
 <script type="text/javascript" src="{%  static 'js/bootstrap.min.js' %}"></script>
</head>{% block body %}
<script>
$(document).ready(function() {
$('#id_user_dob').datepicker({
changeYear: true,
changeMonth: true,
showOtherMonths: true,
selectOtherMonths: true,
yearRange: "1940:2015"
});
});
</script><div class="panel panel-primary">
<div class="panel-heading">
  <h3 class="panel-title">UPDATE PROFIL</h3>
</div>
<div class="panel-body">
 <div class="container-dash">
<div class="row">
{% block navbar_left %}
{% endblock navbar_left %}
<div class="col-md-4 col-md-offset-2">
<div class="row">
<form class="form" id="registerForm" method="POST"
enctype="multipart/form-data" action="{% url 'edit_profile' %}">
<fieldset>
{% csrf_token %} {% load tz %}
{% for field in form.visible_fields %}
<div id="div_{{ field.html_name }}"
class="form-group{% if field.errors %} has-error{% endif%}">
<label class="col-sm-4 control-label" for="{{ field.id_for_label }}">
{{ field.label }}
</label>
<div class="col-md-8 cnt-inpt">
{{ field|addcss:"form-control" }}
<div class="text-muted pull-right">
<small>{{ field.help_text }}</small>
</div> <!-- form-group -->
<span class="help-block">
{% for error in field.errors %} {{error }} {% endfor %}
</span> <!-- help-block -->
</div> <!-- col-sm-4 -->
</div>
{% endfor %}
{% for hidden in user_form.hidden_fields %} {{ hidden }} {% endfor %}
<div class="form-group" style="padding-left: 35%;">
<button type="submit" class="btn btn-success" >Update Profile <i class="fa fa-arrow-circle-right"></i> </button>
</div> <!-- form-group -->
</fieldset>
</form>
</div>
</div>
</div>
</div>
</div>
</div>
{% endblock body %}
</html>