<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head href ="{%  static 'css/bootstrap.min.css' %}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{%  static 'css/bootstrap.min.css' %}" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="{%  static 'css/bootstrap-theme.min.css' %} " integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <script type="text/javascript" src="{%  static 'js/jquery-1.11.1.js' %}"></script>
    <script type="text/javascript" src="{%  static 'js/bootstrap.min.js' %}"></script>
    <!-- Latest compiled and minified JavaScript -->
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>My first website</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body style="background-image: url( {% static 'hello.jpg' %})">
<!--<nav class="navbar navbar-default">-->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img alt="Brand" src="{%  static 'log.png' %}" class= "img-circle">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->

            <form class = "navbar-form navbar-left" role="search">
                <div class= "form-group">
                    <ul class="nav navbar-nav navbar-right">

                    <input type= "text" class= "form-control" placeholder = "Search"></ul>
                </div>
                <button type="submit" class="btn btn-default"> Submit </button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Link</a></li>
                 <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Signin/Signup <span class="caret"></span></a>
                <ul class="dropdown-menu">


                    {% if user.is_anonymous %}
                        <li><a href="{%  url 'login' %}">SIGN IN</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{% url 'register_user' %}" >SIGN UP</a></li>
                    {% else %}
                        <li>
                            <div class="btn-group">
                                <a class="btn-new btn-nav btn-white" data-toggle="dropdown"><i class="fa fa-user fa-fw"></i>
                        <li><a href="{%  url 'logout' %}">logout</a></li>
                        {% if request.user.user_first_name %}
                            {{ request.user.user_first_name }}
                        {% elif request.user.username %}
                            {{ request.user.username }}
                        {% else %}
                            {{ request.user.email }}
                        {% endif %}
                    {% endif %}
                </ul>
            </li>
                 </div>
            </ul>
            </ul>
    </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</ul>
    <!-- /.container-fluid -->
</nav>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class= "panel panel-success">
            <!-- Default panel contents -->
            <div class="panel-heading">Login</div>
            <div class="panel-body">
            </div>
            <form class="form-inline">
                <div class="form-group">
                    <label class="sr-only" for="exampleInputEmail3">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email">
                </div>
                <br>
                <br>
                <!-- <div class="alert alert-danger" role="alert">
             <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
             <span class="sr-only">Error:</span>
             Enter a valid email address
           </div>-->
                <br>
                <div class="form-group">
                    <label class="sr-only" for="exampleInputPassword3">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Password">
                </div>
                <br>
                <br>
                <br>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Remember me
                    </label>
                    <br>
                    <br>
                </div>

                <button type="submit" class="btn btn-default">Sign in</button>

                <br>
            </form>
        </div>

{% if user.is_anonymous %}
        hello
{% else %}
        <a href="{% url 'add_chocolate' %}">
        <button type="submit" class="btn btn-default">Add Chocolate</button>
            </a>
         <a href="{% url 'profile' %}">
        <button type="submit" class="btn btn-default">profile</button>
            </a>
        <a href="{% url 'list' %}">
        <button type="submit" class="btn btn-default">View list</button>
            </a>

{% endif %}
</body>
</html>