{%  load staticfiles %}
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img alt="Brand" src="{%  static 'log.png' %}" class= "img-circle">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->

            <form class = "navbar-form navbar-left" role="search">
                <div class= "form-group">
                    <ul class="nav navbar-nav navbar-right">

                    <input type= "text" class= "form-control" placeholder = "Search"></ul>
                </div>
                <button type="submit" class="btn btn-default"> Submit </button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Link</a></li>
                 <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Signin/Signup <span class="caret"></span></a>
                <ul class="dropdown-menu">


                    {% if user.is_anonymous %}
                        <li><a href="{%  url 'login' %}">SIGN IN</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{% url 'register_user' %}" >SIGN UP</a></li>
                    {% else %}
                        <li>
                            <div class="btn-group">
                                <a class="btn-new btn-nav btn-white" data-toggle="dropdown"><i class="fa fa-user fa-fw"></i>
                        <li><a href="{%  url 'logout' %}">logout</a></li>
                        {% if request.user.user_first_name %}
                            {{ request.user.user_first_name }}
                        {% elif request.user.username %}
                            {{ request.user.username }}
                        {% else %}
                            {{ request.user.email }}
                        {% endif %}
                    {% endif %}
                </ul>
            </li>
                 </div>
            </ul>
            </ul>
    </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</ul>
    <!-- /.container-fluid -->
</nav>
